
	
	<div class="panel panel-green ">
                        <div class="panel-heading ">
                            Completed Services
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
	
					<table width="100%">
									<tr>
									<td width="50%">
										<h4>Details</h4>
										<p>
										Location:<br/>
										
										
										**For more detailed information, please call: 01913531384, 01913531517, 01977885507, 01914602965, 01939912533, 01937402947
										<br/>• Call us within 10 am to 4 pm from Sunday to Thursday<br/><br/><br/>
										
										<b>
									Payment Status: Paid<br/>
									Repair Fare: 1200 taka</b></p>
									</td>
									<td>
										<img class="rounded" width="70%" src="../img/p5.jpg"/>
									</td>
									</tr>
									</table>
           
                        </div>
                        <!-- /.panel-body -->
                    </div>
			
	