@model RepairAnywhere.Models.CustomerViewModel.TripsDeailsViewModel

   <div class="card cta cta--featured">
		  <span class="header-line gradient-color-1"></span>
		  
		  <div class="card-block">
					<table width="100%">
									<tr>
									<td width="50%">
										<h4>Details</h4>
										<p>
										Location:<br/>
										
										
										
										<br/>
										<br/>
										**For more detailed information, please call: 01913531384, 01913531517, 01977885507, 01914602965, 01939912533, 01937402947
										<br/>• Call us within 10 am to 4 pm from Sunday to Thursday<br/><br/><br/>
										
										<b>Payment Status: Pending<br/>
									Service Charge: 1200 tk</b></p>
									</td>
									<td>
										<img class="rounded" width="70%" src="../images/p5.jpg"/>
									</td>
									</tr>
									</table>
									<hr/>
									<table>
										<tr>
											<td width="30%">
											<img class="rounded-circle" width="70%" src="../images/user_pic.jpg"/>
											</td>
											<td style="text-align:center">
												<table width="100%">
													<tr>
														<td  style="text-align:center" width="40%">
															<h4>Service Provider Name</h4>
														</td>
														<td style="text-align:center">
															Completed Repairs:111
														</td>
													</tr>
													<tr>
														<td style="text-align:center">Rating
															<i class="fa fa-star" style="font-size: 20px;color:#FFDF00"></i>
															<i class="fa fa-star" style="font-size: 20px;color:#FFDF00"></i>
															<i class="fa fa-star" style="font-size: 20px;color:#FFDF00"></i>
															<i class="fa fa-star" style="font-size: 20px;color:#FFDF00"></i>
															<i class="fa fa-star" style="font-size: 20px;color:#FFDF00"></i>
														</td>
														<td style="text-align:center">
															Contact No:019xxxxxxxx
														</td>
													</tr>
													<tr>
														<td  style="text-align:center" colspan="2">
															<br/>
															<br/>
															<button onclick="window.location='viewserviceprovider.html';" class="btn btn-secondary" >Reviews</button>
														</td>
													</tr>
												</table>
											</td>
											<td>
											</td>
										</tr>
									</table>
		  </div>
		</div>
    
    
